@import "../../helpers/variables";

#cvExperiences {

    padding: 20px;
    border: solid 2px $main-background;
    border-radius: 20px;
    max-width: 1000px;

    margin: 20px auto;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}