@import "../../helpers/variables";

#cvFormation {

    padding: 20px;
    margin: auto;
    max-width: 1000px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-weight: $light-roboto;
        }
    }

    hr {
        width: 80%;
        height: 3px;
    }
}