//Colors

    // Font Colors
    $main-background: rgb(236, 236, 236);

    //Background Colors
    $main-font : rgb(24, 24, 24);


//Fonts

    // Font Sizes
    $title-h1: 34px;
    $title-h2: 24px;
    $lien-size: 24px;

    //Fonts familly

