@import "../../helpers/variables";

#cartouche {

    width: 80%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 50px;

    h2 {
        margin: 0 10px 0 10px;
    }

}