@import "../helpers/variables";

#cv {

    color: $main-background;

    .titleSection {
        max-width: 300px;
        margin-left: 10%;

        font-size: $title-h1;
    }

    .next {
        width: 85%;
    }

}