@import "../helpers/variables";

#quizzs {

    h1 {
        color: $main-background;
        text-align: center;
        font-size: $title-h1;

        font-weight: $bold-roboto;
    }

    .link {
        text-decoration: none;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}