@import "../../helpers/variables";

#cardQuizz {

    max-width: 330px;
    margin: 40px auto;
    padding: 0;
    border: solid 2px $main-font;
    border-radius: 25px;
    min-height: 500px;

    background-color: white;

    color: $main-font;

    h2 {
        text-align: center;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
    }

    p {
        color: $main-font;
        font-size: $text-card;
        width: 100%;
        margin: 10px 0;
    }

    img {
        display: flex;
        width: 300px;
        margin: 20px auto;
    }

}