@import "../../helpers/variables";

#bodyProject {

    padding: 30px;
    margin: auto;
    color: $main-background;

    h2 {
        text-align: center;
        margin: 0 auto 100px 0;
    }

    p {
        font-size: $text-card;
        max-width: 80%;
        margin: 30px auto;
        text-align: center;
    }

    .url {
        text-align: center;
    }

    img {
        display: flex;
        max-width: 90%;
        margin: auto;
    }

}