@import "../../helpers/variables";

#cardProject {

    max-width: 330px;
    margin: 40px auto;
    padding: 0;
    border: solid 2px $main-font;
    border-radius: 25px;
    min-height: 500px;

    background-color: white;

    color: $main-font;

    h2 {
        text-align: center;
    }

    p {
        margin: auto;
        max-width: 90%;
        margin-bottom: 20px;

        text-decoration: none;
    }

    .url {
        margin: 0 10%;
    }

    a:visited {
        color: none;
    }

    img {
        display: flex;
        width: 300px;
        margin: 20px auto;
    }
}